@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --font1: VerdVerdana, Geneva, Tahoma, sans-serif;
    --font2: "Playwrite AT", cursive;
    --font3: "Averia Libre", system-ui;
                            
}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);

}
header{
    background-color: black;
    color: white;
    text-align: center;
    

}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vh;

}
header > p{
    padding-bottom: 50px;

}

header >p> a, footer > a{
    color: white;
    text-decoration: none;
    font-weight: bolder;

}
header >p>a:hover, footer >a:hover{
    text-decoration: underline;
    color: blue;
    transition: 1s;

}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: ;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: black;
    color: white;

}
section.imagem >p{
    background-color: rgba(58, 54, 54, 0.356);
    display: inline-block; /* ele trasforma ums caixa para se adaptar ao conteudo*/
    padding: 5px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px ;
}